.item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.item:first-child {
    margin-top: 20px;
}

.done {
    text-decoration: line-through;
}

.button {
    color: var(--color-main);
    background-color: transparent;
    border: solid 1px currentColor;
    border-radius: 4px;
    padding: 4px 8px;
    cursor: pointer;
    transition: all 0.3s;
    margin-left: 5px;
}

.button:hover {
    color: white;
    background-color: var(--color-main);
}
