.item {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 2px solid black;
}

.item:first-child {
    margin-top: 20px;
}
.done {
    text-decoration: line-through;
}
